.popup {
    background-color: white;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
}

.red{
   color: red;
}

.activeReaction{
    color: green;
}

.hauteur10{
    height: 10%;
}

.hauteur5{
    height: 5%;
}

.hauteur80{
    height:80%;
}

.circle{
    border-radius:90%;
    width: 25px;
    height: 25px
}

.displayFromMedium{
    display:none
}

@media (min-width: 48rem) {
    .displayFromMedium{
        display:block;
    }
}

.messageContainer{
    display:flex;
    flex-direction: column-reverse;
}

.showMenuItems{
    display: block;
    background-color: blue;
}

